{% load static %}

<header class="header-top">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a href="#" class="sidebar-toggle">
                <img class="svg" src="{% static 'assets/img/svg/bars.svg' %}" alt="img">
            </a>
            {%if request.user.is_staff %}
            <a class="navbar-brand" href="/">
                Student Management - Admin
            </a>
            {%endif%}
            {%if request.user.last_name == '2' %}
            <a class="navbar-brand" href="/">
                Student Management - Lecturer
            </a>
            {%endif%}
            {%if request.user.last_name == '3' %}
            <a class="navbar-brand" href="/">
                Student Management - Assurer
            </a>
            {%endif%}
            {%if request.user.is_staff or request.user.last_name == '3' %}
            <form action="view-students" method="post" class="search-form">
                {% csrf_token %}
                <span data-feather="search"></span>
                <input name="regNo" class="form-control mr-sm-2 box-shadow-none" type="search" placeholder="Search Student..." aria-label="Search">
            </form>
            {%endif%}

        </div>
        <!-- ends: navbar-left -->

        <div class="navbar-right">
            <ul class="navbar-right__menu">
                {%if request.user.is_staff or request.user.last_name == '3' %}
                <li class="nav-search d-none">
                    <a href="#" class="search-toggle">
                        <i class="la la-search"></i>
                        <i class="la la-times"></i>
                    </a>
                    <form action="views-members" method="post" class="search-form-topMenu">
                        {% csrf_token %}
                        <span class="search-icon" data-feather="search"></span>
                        <input name="regNo" class="form-control mr-sm-2 box-shadow-none" type="search" placeholder="Search Student..." aria-label="Search">
                    </form>
                </li>
                {%endif%}

                <li class="nav-author">
                    <div class="dropdown-custom">
                        <a href="javascript:;" class="nav-item-toggle"><img src="{% static 'assets/img/admin.jpg' %}" alt="" class="rounded-circle"></a>
                        <div class="dropdown-wrapper">
                            <div class="nav-author__info">
                                <div class="author-img">
                                    <img src="{% static 'assets/img/admin.jpg' %}" alt="" class="rounded-circle">
                                </div>
                                <div>
                                    {% if request.user.is_staff %}
                                    <h6>{{ request.user.username }}</h6>
                                    <span>Administrator</span>
                                    {%endif%}
                                    {% if request.user.last_name == '2' %}
                                    <h6>{{ request.user.first_name }}</h6>
                                    <span>Lecturer</span>
                                    {%endif%}
                                    {% if request.user.last_name == '3' %}
                                    <h6>{{ request.user.first_name }}</h6>
                                    <span>Assurer</span>
                                    {%endif%}
                                </div>
                            </div>
                            <div class="nav-author__options">
                                <a href="/logout-user" class="nav-author__signout">
                                    <span data-feather="log-out"></span> Sign Out
                                </a>
                            </div>
                        </div>
                        <!-- ends: .dropdown-wrapper -->
                    </div>
                </li>
                <!-- ends: .nav-author -->
            </ul>
            <!-- ends: .navbar-right__menu -->
            <div class="navbar-right__mobileAction d-md-none">
                <a href="#" class="btn-search">
                    <span data-feather="search"></span>
                    <span data-feather="x"></span></a>
                <a href="#" class="btn-author-action">
                    <span data-feather="more-vertical"></span></a>
            </div>
        </div>
        <!-- ends: .navbar-right -->
    </nav>
</header>