{% load static %}


<div id="overlayer">
    <!-- <span class="loader-overlay">
        <div class="atbd-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
    <span class="spin-dot badge-dot dot-primary"></span>
    <span class="spin-dot badge-dot dot-primary"></span>
    <span class="spin-dot badge-dot dot-primary"></span> -->
</div>
</span>
</div>
<!-- <a href="#" class="customizer-trigger">
    <span data-feather="settings"></span></a> -->

<div class="overlay-dark-sidebar"></div>
<div class="customizer-overlay"></div>