{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{#    <link rel="stylesheet" href="file:///D:/CLASS/DATABASE/transcript-project/static/css/bootstrap.css">#}
{#    <link rel="stylesheet" href="file:///D:/CLASS/DATABASE/transcript-project/static/css/style.css">#}
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
</head>
<body>
   <div class="container">
       <div class="row mb-50 header-part">
           <div class="col-2">
               <img src="{% static 'img/logo.png' %}" alt="" width="100px" height="100px">
           </div>

           <div class="col-10">

               <center>
                   <h2>DAR ES SALAAM INSTITUTE OF TECHNOLOGY</h2>
               </center>
               <center>
                   <h3>ACCADEMIC TRANSCRIPT</h3>
               </center>
           </div>
       </div>

       <div class="contents mt-50">
           <div class="first-section">
               <div class="row heading-row">
                   <div class="col">
                       <p class="heading">
                           SURNAME
                       </p>
                   </div>

                   <div class="col">
                       <p class="heading">
                           GIVEN NAMES
                       </p>
                   </div>

                   <div class="col">
                       <p class="heading">
                           BIRTHDATE
                       </p>
                   </div>

                   <div class="col">
                       <p class="heading">
                           GENDER
                       </p>
                   </div>


                   <div class="col">
                       <p class="heading">
                           REGISTRATION NUMBER
                       </p>
                   </div>
               </div>


               <div class="row">
           <div class="col">
               <p class="heading_">
                   {{ surname }}
               </p>
           </div>

           <div class="col">
               <p class="heading_2">
                   {{ given_names }}
               </p>
           </div>

           <div class="col">
               <p class="heading_2">
                   {{ dob }}
               </p>
           </div>

           <div class="col">
               <p class="heading_2">
                   {{ gender }}
               </p>
           </div>


           <div class="col">
               <p class="heading_2">
                   {{ reg_no }}
               </p>
           </div>
       </div>
           </div>

         <div class="row second-section">
           <div class="col">
               <p class="heading">
                   DATE OF ADMISSION
               </p>
           </div>

           <div class="col">
               <p class="heading_2">
                   {{ adm_date }}
               </p>
           </div>

           <div class="col">
               <p class="heading">
                   DATE OF GRADUATION:
               </p>
           </div>

           <div class="col">
               <p class="heading_2">
                   {{ grad_date }}
               </p>
           </div>



       </div>


       <div class="row mk-40">
           <div class="col">
               <p class="heading">
                   AWARD TITLE
               </p>
           </div>

           <div class="col">
               <p class="heading_2">
                   {{ award_title }}
               </p>
           </div>

       </div>


       <div class="row mk-40">
           <div class="col">
               <p class="heading">
                   CLASSIFICATION OF AWARD
               </p>
           </div>

           <div class="col">
               <p class="heading_2">
                   {{ class_award }}
               </p>
           </div>

       </div>


       <div class="row mk-40">
           <div class="col">
               <p class="heading">
                   OVERALL GPA
               </p>
           </div>

           <div class="col">
               <p class="heading_2">
                   {{ overall_gpa }}
               </p>
           </div>

       </div>

       </div>

   </div>
    <div class="footer-mark">
        <p class="nb">
               NOTE: The Award Title and Classification is based on NTA Level 6 only
        </p>
    </div>

</body>
</html>